[Desktop Entry]
Name=ComputerAlgebraSystem
Exec=ComputerAlgebraSystem
Icon=icon
Type=Application
Categories=Education;Science;
Comment=A computer algebra system for mathematical computations
